{:theme "Mist Aqua", :log-level :debug, :app-id "16839383", :api-key "F6fUFb2V93lEtSh0AfiIiknk", :api-secret-key "jsmwqoRNX3YnOls70AVgXG7Fb4nafDqf", :last-choose-dir "/mnt/data/OCaml64/home/netstoc3/code/piaojuocr/dev-resources", :font "文泉驿正黑", :font-size 21}